
		#one{
			text-align: center;
			background-color: yellow;
		}
		body{
			background-color: yellow;
		}
		#three{
			
			margin-left: 550px;
		}
		@media screen and (max-width: 1200px){
			body{
				background-color: pink;
			}
		}




	